<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Aplicação_Teste.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <Aplicação_Teste.Properties.Settings>
      <setting name="Aplicação_Teste_WebReference_Service" serializeAs="String">
        <value>http://52.67.248.198/SiteTesteTcc/Service.asmx</value>
      </setting>
    </Aplicação_Teste.Properties.Settings>
  </applicationSettings>
</configuration>
<!--ProjectGuid: {FC7AB7AB-91A4-4F42-A3E4-7867F834C0D4}-->